<div class="legend-bar">
    <div class="legend-contents">
      <!--Text will need to be in a lang file somewhere this cannot be hardcoded-->
  
      <div class="legend-section">
        <img src="https://www.w3schools.com/tags/img_girl.jpg" />
        <p>lorem ipsum dolor sit amet</p>
      </div>
      <div class="legend-section">
        <img src="https://www.w3schools.com/tags/img_girl.jpg" />
        <p>lorem ipsum dolor sit amet</p>
      </div>
      <div class="legend-section">
        <img src="https://www.w3schools.com/tags/img_girl.jpg" />
        <p>lorem ipsum dolor sit amet</p>
      </div>
      <div class="legend-section">
        <img src="https://www.w3schools.com/tags/img_girl.jpg" />
        <p>lorem ipsum dolor sit amet</p>
      </div>
    </div>
  </div>