<div class="mood-board">
    <div class="mood-grid">
    <img src="https://www.w3schools.com/tags/img_girl.jpg" alt="alt text" class="one mood-card" />
    <img src="https://www.w3schools.com/tags/img_girl.jpg" alt="alt text" class="two mood-card"/>
    <img src="https://www.w3schools.com/tags/img_girl.jpg" alt="alt text" class="three mood-card"/>
    <img src="https://www.w3schools.com/tags/img_girl.jpg" alt="alt text" class="four mood-card"/>
    <img src="https://www.w3schools.com/tags/img_girl.jpg" alt="alt text" class="five mood-card"/>
    <img src="https://www.w3schools.com/tags/img_girl.jpg" alt="alt text" class="six mood-card"/>
    <img src="https://www.w3schools.com/tags/img_girl.jpg" alt="alt text" class="seven mood-card"/>
    <img src="https://www.w3schools.com/tags/img_girl.jpg" alt="alt text" class="eight mood-card"/>
    <img src="https://projectzomboid.com/blog/content/uploads/2022/01/build.jpg" alt="alt text" class="nine mood-card"/>
    </div>
    <img src="https://projectzomboid.com/blog/content/uploads/2022/01/build.jpg" alt="alt text" class="shop-all"/>
    </div>