<div class="mood-board">
  <h1 class="UglyQua-text">{{lang "mood.heading"}}</h1>
  <h4 class="mood-board-subheader UglyQua-text">{{lang "mood.sub-heading"}}</h4>
  <div class="mood-grid">
    <div class="one mood-card">
      <img src="https://www.w3schools.com/tags/img_girl.jpg" alt="alt text" />
      <p class="mood-text">Placeholder Text</p>
    </div>
    <div class="two mood-card">
      <img src="https://www.w3schools.com/tags/img_girl.jpg" alt="alt text" />
      <p class="mood-text">Placeholder Text</p>
    </div>
    <div class="three mood-card">
      <img src="https://www.w3schools.com/tags/img_girl.jpg" alt="alt text" />
      <p class="mood-text">Placeholder Text</p>
    </div>
    <div class="four mood-card">
      <img src="https://www.w3schools.com/tags/img_girl.jpg" alt="alt text" />
      <p class="mood-text">Placeholder Text</p>
    </div>
    <div class="five mood-card">
      <img src="https://www.w3schools.com/tags/img_girl.jpg" alt="alt text" />
      <p class="mood-text">Placeholder Text</p>
    </div>
    <div class="six mood-card">
      <img src="https://www.w3schools.com/tags/img_girl.jpg" alt="alt text" />
      <p class="mood-text">Placeholder Text</p>
    </div>
    <div class="seven mood-card">
      <img src="https://www.w3schools.com/tags/img_girl.jpg" alt="alt text" />
      <p class="mood-text">Placeholder Text</p>
    </div>
    <div class="eight mood-card">
      <img src="https://www.w3schools.com/tags/img_girl.jpg" alt="alt text" />
      <p class="mood-text">Placeholder Text</p>
    </div>
    <div class="nine mood-card">
      <img
        src="https://projectzomboid.com/blog/content/uploads/2022/01/build.jpg"
        alt="alt text"
      />
      <p class="mood-text">Placeholder Text</p>
    </div>
  </div>
  <div class="shop-all mood-card">
    <img
      src="https://projectzomboid.com/blog/content/uploads/2022/01/build.jpg"
      alt="alt text"
    />
    <p class="mood-text">Placeholder Text</p>
  </div>
</div>
