.about {
  background-color: $TECH-40;
  text-align: center;
  //padding: 20px 0;
  //border: 1px solid pink;
  height: 600px;
  position: relative;

  h1 {
    font-family: "UglyQua";
  }

  @include breakpoint("medium") {
    height: 428px;
  }

  .about-contents {
    // border: 1px solid greenyellow;
    width: 95%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    @include breakpoint("medium") {
      width: 80%;
    }

    @include breakpoint("large") {
      width: 70%;
    }
  }
}
