.product-list-sidebar {
  position: absolute;
  border: 1px solid blue;
  height: 100%;
  min-width: 27%;
  margin-left: 12px;
  padding-left: 40px;

  h4 {
    font-weight: bold;
  }
  hr {
    border-top: 1px solid $PRIMARY;
  }
  .option-group {
  p{  
    display: inline;
   
}
  button{
    float: right;
    margin-right: 20px;

  }
  }

  .product-list-sidebar-dropdown-content {
    display: none;
  }

  .show-product-list-sidebar-dropdown-content {
    display: block;
  }

  form {
    //max-width: 200px;
    //border: 1px solid rebeccapurple;
    // display: grid;
    // grid-template-columns: 1fr 1fr 1fr;
    //grid-template-columns: 3;
    float: right;
    margin-right: 5px;
    .price-form-item {
      display: inline;
      width: 100px;
      //border: 1px solid royalblue;
      padding: 0;
      height: 44px;
    }

    input {
      border: 2px solid $TECH-60;
      //margin:0 10px;
      border-radius: 5px;
    }
  }
}
